<div class="app-component-wrapper">
  <div class="web-title">
    Welcome to Soft UI
  </div>
  <div class="neumorph-wrapper">
    <div class="output-section">

      <button class="demo-button-item flat-btn"><p>flat</p></button>
      <button class="demo-button-item concave-btn"><p>concave</p></button>
      <button class="demo-button-item convex-btn"><p>convex</p></button>
      <button class="demo-button-item pressed-btn"><p>pressed</p></button>
      <div class="light-source-section">
        <div class="light-source left-top light-on">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source right-top">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source left-bottom">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source right-bottom">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-section">
      <div class="ui-controls-section">
        <div class="ui-control-item">
          Pick a color:
        </div>
      </div>
    </div>
  </div>
</div>
