<div class="app-component-wrapper" *ngIf="!isFeature">
  <div class="web-title">
    Welcome to Soft UI
  </div>
  <div class="neumorph-wrapper">
    <div class="output-section">

      <button class="demo-button-item flat-btn"><p>flat</p></button>
      <button class="demo-button-item concave-btn"><p>concave</p></button>
      <button class="demo-button-item convex-btn"><p>convex</p></button>
      <button class="demo-button-item pressed-btn"><p>pressed</p></button>
      <div class="light-source-section">
        <div class="light-source left-top light-on">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source right-top">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source left-bottom">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
        <div class="light-source right-bottom">
          <div class="svg-img-block">
            <div class="svg-img" inlineSVG="../assets/images/flashlight.svg"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-section">
      <div class="ui-controls-section">
        <div class="ui-control-item">
          <div class="form-group">
            <label>Pick a color:</label>
            <input class="color-picker" [(colorPicker)]="color" (colorPickerChange)="changeColor()" [style.background]="color"/>
          </div>
          <div class="form-group">
            <label>Button Size:</label>
            <input class="form-control" type="number" [value]="buttonSize" #btnSize min="100" max="215" (change)="changeSize(btnSize.value)"/>
          </div>
          <div class="form-group">
            <label>Blue Size:</label>
            <input class="form-control" type="number" [value]="blurSize" #blrSize min="0" max="100" (change)="changeBlueSize(blrSize.value)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper" *ngIf="isFeature">
  <div class="box-wrapper">
    Transform text: <textarea class="form-control" rows="4" cols="50" #inputText></textarea>

    <div class="btns">
      <button (click)="capitalize(inputText.value)" class="action-button">Capitalize</button>
      <button (click)="clear(inputText)" class="action-button">Clear</button>
    </div>

    Result:

    <textarea class="result-text" *ngIf="convertedText" #transformedText [value]="convertedText">

    </textarea>
    <button (click)="copy()">Copy</button>

    <div class="tip-message" *ngIf="showTip">
      Done !!!
    </div>
  </div>
</div>
