@import "theme";

$positionX: var(--positionX);
$positionXOpposite: var(--positionXOpposite);
$positionY: var(--positionY);
$positionYOpposite: var(--positionYOpposite);

$button-size: var(--buttonSize);
$blur-size: var(--blurSize);
$primary-color: var(--globalColor);
$dark-primary-color: var(--globalColorDark);
$light-primary-color: var(--globalColorLight);
$darker-primary-color: var(--globalColorDarker);
$lighter-primary-color: var(--globalColorLighter);

.app-component-wrapper {
  background: lighten(red, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $primary-color;
  color: white;
  font-family: monospace;
  .web-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 2em;
  }

  .neumorph-wrapper {
    display: flex;
    height: 100%;
    .output-section {
      flex-basis: 70%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .light-source-section {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        .light-source {
          position: absolute;
          .svg-img-block {
            width: 45px;
            height: 45px;
            .svg-img {
              width: 100%;
              height: 100%;
              &::ng-deep {
                svg {
                  width: 100%;
                  height: 100%;
                  path {
                    fill: $lighter-primary-color;

                    &:nth-child(3) {
                      fill: black;
                    }
                    &:nth-child(5) {
                      fill: black;
                    }
                    &:nth-child(6) {
                      fill: black;
                    }
                  }
                }
              }
            }
          }
        }
        .light-on {
          .svg-img-block {
            .svg-img {
              &::ng-deep {
                svg {
                  path {
                    &:nth-child(7) {
                      fill: #efedeb;
                    }
                    &:nth-child(8) {
                      fill: #dddddd;
                    }
                  }
                }
              }
            }
          }
        }
        .left-top {
          left: 0;
          top: 0;
          .svg-img-block {
            transform: rotate(90deg);
            .svg-img {
            }
          }
        }
        .right-top {
          right: 0;
          top: 0;
          .svg-img-block {
            transform: rotate(180deg);
            .svg-img {
            }
          }
        }
        .left-bottom {
          left: 0;
          bottom: 0;
          .svg-img-block {
            transform: rotate(0deg);
            .svg-img {
            }
          }
        }
        .right-bottom {
          right: 0;
          bottom: 0;
          .svg-img-block {
            transform: rotate(270deg);
            .svg-img {
            }
          }
        }
      }
      .demo-button-item {
        z-index: 10;
        width: $button-size;
        height: $button-size;
        background: $primary-color;
        border-radius: 10px;
        margin: 0px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        //border: 1px solid $primary-color;
        border: none;
        outline: none;

        &:active {
          background: linear-gradient(
            145deg,
            $darker-primary-color,
            $lighter-primary-color
          );
          box-shadow: $positionX $positionY $blur-size $dark-primary-color,
            $positionXOpposite $positionYOpposite $blur-size
              $light-primary-color;
        }
        p {
          margin-top: 200px;
        }
      }
      .flat-btn {
        box-shadow: $positionX $positionY $blur-size $dark-primary-color,
          $positionXOpposite $positionYOpposite $blur-size $light-primary-color;
      }
      .concave-btn {
        background: linear-gradient(
          145deg,
          $lighter-primary-color,
          $darker-primary-color
        );
        box-shadow: $positionX $positionY $blur-size $dark-primary-color,
          $positionXOpposite $positionYOpposite $blur-size $light-primary-color;
      }
      .convex-btn {
        background: linear-gradient(
          145deg,
          $darker-primary-color,
          $lighter-primary-color
        );
        box-shadow: $positionX $positionY $blur-size $dark-primary-color,
          $positionXOpposite $positionYOpposite $blur-size $light-primary-color;
      }
      .pressed-btn {
        background: $primary-color;
        box-shadow: inset $positionX $positionY $blur-size $dark-primary-color,
          inset $positionXOpposite $positionYOpposite $blur-size
            $light-primary-color;
      }
    }
    .input-section {
      flex-basis: 30%;
      display: flex;
      .ui-controls-section {
        margin: 30px;
        padding: 25px 30px;
        flex-basis: 100%;
        border-radius: 40px;
        font-weight: 600;
        background: $primary-color;
        box-shadow: $positionX $positionY $blur-size $dark-primary-color,
          $positionXOpposite $positionYOpposite $blur-size $light-primary-color;
        .ui-control-item {
          .form-group {
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            position: relative;
            align-items: center;
            margin-bottom: 10px;
            label {
              width: 140px;
              margin-right: 10px;
            }
            .form-control {
              width: 100px;
              height: 20px;
            }
            .color-picker {
              width: 20px;
              height: 20px;
              border: 1px solid white;
              position: relative;
              display: block;
            }
          }
        }
      }
    }
  }
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box-wrapper {
    display: flex;
    flex-direction: column;
    .form-control {
      margin: 15px 0px;
    }

    .btns {
      display: flex;
      margin: 15px 0px;
      .action-button {
        flex-basis: 50%;
        padding: 5px 10px;
      }
    }

    .result-text {
      margin: 15px 0px;
      border: 1px solid;
      border-radius: 5px;
    }

    .tip-message {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 56px;
      background: #d2d2d2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
